@CHARSET "UTF-8";

.navbar, .navbar-default{
	background:#4093E6;
}
.btn, .btn-info{
	background:#4093E6;
}
.nav.navbar-nav li a {
	color:#000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #000000;  /*Sets the text hover color on navbar*/
}

#header1{
	color:#ffffff;
}